<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
 <form action="/user/input" method="post">
 	<input type="text" name="name" placeholder="Name">
 	<input type="email" name="email" placeholder="Email">
 	<input type="text" name="birth" placeholder="Birth Date">
  	<select name="job">
 		<option value="technicalmanager">Technical Manager</option>
 		<option value="developer"> Developer</option>
 		<option value="UIdesigner"> UI Designer</option>
 		<option value="graphicdesigner"> Graphic Designer</option>
 	</select>
 	<input type="password" name="password" placeholder="Password">
 	<button type="submit">Submit</button>


 </form>
</body>
</html>